.nav-bar-element-container > .nav-bar-icon {
  font-size: 18px;
}

.nav-bar-container > .nav-bar-element-container {
  display: flex;
  justify-content: center;
  width: 60px;
  min-width: 60px; /* prevents nav elements from shrinking below their initial size */
}

.nav-bar-element-container + .pull-right {
  margin-left: auto;
}

.nav-bar-element-container + .search-bar-container {
  width: 500px;
  margin-left: 60px;
}

.nav-bar-element-container + .quick-action-container {
  display: flex;
  flex-direction: row;
  width: unset;
  align-items: center;
  gap: 30px;
}

.fixed-element {
  height: 60px;
  align-items: center;
}


.fixed-element > div {
  position: fixed;
}
