.side-nav-element > .side-nav-element-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  animation: side-nav-element-text-fade .6s ease-in-out;
}

@keyframes side-nav-element-text-fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}