@media (min-width: 1760px) {
  /* Contains content when window width exceeds certain width */
  .contain-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* Sets the video to its' max width if window exceeds certain width */
  .video > video {
    width: var(--video-max-width) !important;
  }
}

.page-content {
  transition: .2s all ease-in-out;
}

.collapsed-content-margin {
  margin-left: var(--side-nav-bar-collapsed-width) !important;
}

.expanded-content-margin {
  margin-left: var(--side-nav-bar-expanded-width) !important;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.video-wrapper {
  flex: 1;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

.video > video {
  /* Height is calculated to fit 16:9 aspect ratio from videos start width */
  width: 100%;
  max-width: var(--video-max-width);
  object-fit: cover;
  border-radius: 5px;
}

.video > .video-information {
  padding-top: 10px;
  font-family: Roboto;
}

.video > .video-information > .temp-flex {
  display: flex;
  align-items: center;
  margin-top: 10px;

}

.video > .video-information > .temp-flex > .right-actions {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.video > .video-information > .temp-flex > .right-actions > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.video > .video-information > .video-title {
  font-size: 20px;
  font-weight: bold;
}

.video > .video-information > .video-description {
  margin-top: 10px;
}

.video > .video-information > .temp-flex > div > .video-views {
  display: block;
  font-size: 14px;
  color: #666;
}

.video > .video-information > .temp-flex > .right-actions > div > i {
  cursor: pointer;
  font-size: 22px;
}

.video > .video-information > .temp-flex > .right-actions > div > span {
  font-size: 13px;
}


/* Makes video and video details fill up a row each */
@media (max-width: 915px) {
  .content-wrapper {
    flex-direction: column;
  }

  .video > .video-information > .video-title {
    font-size: 18px;
  }

  .video > .video-information > .temp-flex > div > .video-views {
    font-size: 13px;
  }

  .video > .video-information > .temp-flex > .right-actions {
    font-size: 18px;
  }

  .video-side-bar-wrapper {
    padding: var(--content-padding) 0 0 var(--content-padding);
    width: unset !important; /* Makes side bar box fill width on small devices */
  }

  /* .recommendations-wrapper {
    flex-direction: column !important;
  } */
}

.video-side-bar-wrapper {
  width: var(--video-side-bar-width);
  flex-shrink: 0; /* prevents side box from shrinking on resize */
  padding-right: var(--content-padding);
}

.video-side-bar-wrapper > .channel-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.video-side-bar-wrapper > .channel-box > .channel-details {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

.video-side-bar-wrapper > .channel-box > .channel-details > span {
  display: block;
  /* color: #333; */
}

.channel-details > .channel-followers {
  font-size: 11px;
  padding-top: 5px;
  color: #666;
}

.video-side-bar-wrapper > .channel-box > .channel-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.channel-actions > .channel-follow-button {
  background: none;
  background: red;
  color: white;
  font-family: Roboto;
  border: none;
  height: 30px;
  width: 90px;
  font-size: 14px;
}

.channel-actions > .channel-support-button {
  background: none;
  background: none;
  color: black;
  font-family: Roboto;
  border: none;
  height: 30px;
  border: 1px solid black;
  width: 90px;
  font-size: 14px;
}

.video-side-bar-wrapper > .comment-box {
  margin-top: 10px;
  border: 1px solid rgba( 0, 0, 0, 0.1);
  height: 500px;
  overflow: scroll;
}

.comment-box > .comment-box-header {
  font-family: Roboto;
  color: #333;
  padding: 10px;
}

.comment-box > .comment-box-comments {
  background: rgba(0, 0, 0, 0.02);
}

.comment-box-comments > .comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: Roboto;
  padding: 10px;
}

.comment-box-comments > .comment > .comment-content {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.comment-content > .comment-author {
  font-weight: 200;
  font-size: 12px;
}

.comment-content > .comment-text {
  padding-top: 7px;
  line-height: 17px;
}

.comment-content > .comment-actions { 
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.comment-content > .comment-actions > div {
  display: flex;
  gap: 5px;
  font-size: 15px;
}

.comment-content > .comment-actions > div > span {
  font-size: 12px
}

.comment-content > .comment-actions > .reply {
  margin-left: auto;
}

.recommendations-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.recommendations-wrapper {
  padding-left: var(--content-padding);
  display: flex;
  flex-direction: row;
  gap: 30px;

  scroll-behavior: smooth;

  /* Relative position enables scroll buttons to be positioned relatively to the scroll bar */
  position: relative;

  /* Replace with a separator */
  margin-top: 20px;
  max-width: 1650px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.recommendations-wrapper > .recommendation-box {
  width: 300px;
  border-radius: 5px;
  flex-shrink: 0;
}

.recommendation-box > .recommendation-thumbnail > img {
  width: 100%;
  border-radius: 5px;
}

.recommendation-box > .recommendation-details {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.recommendation-box > .recommendation-details > .video-details {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.recommendation-box > .recommendation-details > .video-details {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  padding-top: 3px;
}

.recommendation-box > .recommendation-details > .video-details > .video-title {
  font-size: 15px;
  overflow: hidden;
  height: 35px;
  line-height: 17.5px;
  font-weight: bold;
}

.recommendation-box > .recommendation-details > .video-details > .channel-name {
  padding: 5px 0 3px 0;
}

.recommendation-box > .recommendation-details > .video-details > .video-views {
  color: #666;
}

.recommendation-box > .recommendation-details > .video-details > .channel-name, .video-views {
  font-size: 12px;
}

/* .recommendation-box > .recommendation-details > span {
  display: block;
  font-family: Roboto;
}

.recommendation-box > .recommendation-details > .video-channel {
  font-size: 13px;
  padding-top: 5px;
}

.recommendation-box > .recommendation-details > span:last-child {
  color: #666;
  font-size: 13px;
  padding-top: 2px;
} */

h1 {
  font-family: Roboto;
  font-weight: 400;
  padding-left: 10px;
  font-size: 23px;
  margin-top: 30px;
}



.over {
  position: relative;
  margin-top: -250px;
  z-index: 1000;
  /* background: blue; */
  display: flex;
  padding-left: 20px; padding-right: 20px;
  height: 190px;
  align-items: center;
  /* pointer-events: none; */
}

.over > div:last-child {
  margin-left: auto
}

.over > div > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background:rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.01);
  transition: .3s all;
  cursor: pointer;
}

.over > div > button:hover {
  transform: scale(1.1);
}