@media (max-width: 915px) {
    .flex-wrapper {
      flex-direction: column !important;
    }
  
    .video > .video-information > .video-title {
      font-size: 18px;
    }
  
    .video > .video-information > .temp-flex > div > .video-views {
      font-size: 13px;
    }
  
    .video > .video-information > .temp-flex > .right-actions {
      font-size: 18px;
    }
  
    .video-side-bar-wrapper {
      padding: var(--content-padding) 0 0 var(--content-padding);
      width: unset !important; /* Makes side bar box fill width on small devices */
    }

    .video-side-bar-wrapper > .comment-box {
      min-height: 400px;
    }
  
    /* .recommendations-wrapper {
      flex-direction: column !important;
    } */
  }